@charset "UTF-8";
/* 가로형 좌측 배치 메뉴 */
#flmn-01{
	list-style: none
	/* 목록의 기본 모양 : 제거 */;
}
#flmn-01>li {
	border: 1px solid red;
	float: left;
}
/* 
li 태그에 float:right 를 주게되면 순서가 뒤집어 지므로 left를 주고
ul 태그에 float:right를 줘서 자식태그까지 같이 오른쪽으로 이동시킨다.
 */
/* 가로형 우측 배치 메뉴 */
#flmn-02 {
	border: 1px solid #080;
	list-style: none;
	float:right;
	
}
#flmn-02>li {
	border: 1px solid #fa0;
	float: left;
}

/* float : 요소를 좌우 방향으로 띄울 수 있다. */
/* 요소를 띄우는 기능이지만 주로 수평 정렬에 이용한다. */
/* 요소가 공중으로 띄어지면 아래줄의 코드의 영역이 위로 올라와진다. */
/* 다만, 사용자의 시점에서 봤을때 중첩되지 않기에 수평 정렬처럼 보인다. */
/* 글자에 float을 적용시 글자 크기에 맞춰서 영역이 정해진다. */
/* 글자가 많은 경우 width 등의 요소로 영역 크기를 줄여주면 수평 정렬 가능 */
/* float이 적용된 요소는 padding 등의 속성으로 아래 요소와 간격 조절이 가능하다. */
#fl, #fr {
	margin-bottom: 2em;
	padding: 1em;
}
#fl {
	background-color: #f75;
	float: left;
}
#fr {
	background-color: #57f;
	float: right;
}

/* clear: float의 영향을 해제하는 속성  */
/* 주로 선택자도 class="clear"로 지정하여 공통적으로 사용한다. */
.clear {
	clear: both
	/* float의 영향으로 밀고 올라온
	다음요소를 제자리로 위치시킨다. */;
	margin-top:2em;
}


/* 1. 이미지에 float:left; */
#sec01 {
	overflow: hidden
	/* float된 하위요소 영향으로 줄어든
	상위요소의 크기 회복 */;
	float:left;
	width: 45%;
}

#sec01>p>img {
	float: left;
	margin-right: 1em;
}

/* 2. 이미지에 float:right; 적용 */
#sec02 {
	overflow: hidden;
	float:right;
	width: 45%;
	
}

#sec02>p{
	text-align: right;
}

#sec02>p>img {
	float:right;
	margin-left:1em; 
}

/* 3. p에 float: ; 적용 */
#sec03 {
	overflow: hidden;
}

#sec03>p {
	border: 1px solid red;
}

/* 
나란히 배치하고 싶을 때는 float: left 사용 
float: right 를 사용할 시 정렬 순서가 뒤집어 진다.
아래의 코드에서 right 사용 시 3, 2, 1 순서로 정렬이 된다.
*/
.p01, .p02, .p03 {
	float: left;
	width: 30%;
	margin-right: 1.5%
}

.p04 {
	clear: both;
}

.p05{
	float: left;
	width: 45%;
	margin-right: 2%
}
.p06 {
	float: left;
	width: 47%;
}

.p07 {
	background-color: #eee;
}





