@charset "UTF-8";

/* 1. transform: translate(); 위치 변형 */
#sec01 {
	height: 400px;
	position: relative;
}

#sec01>div {
	border: 1px solid;
	width: 200px;
}

.tr01 {
	transform: translateX(1200px);
}

.tr02 {
	transform: translateY(100px);
}

.tr03 {
	transform: translateX(-500px);
}

.tr04 {
	transform: translateY(-200px);
}

.tr05 {
	transform: translate(1000px, -200px);
}

#sec01:hover>.tr06 {
	transform: translate(100%,100%);
}

.cnt {
	background-color: #ccc;
	width: 30%;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}/* 2. transform: scale(); 크기 변형 */
#sec02>div {
	border: 1px solid;
	width: 300px;
	display: inline-block;
	margin: 40px;
}

.sc01 {
	transform: scaleX(0.5);
}

.sc02:hover {
	transform: scaleX(2);
}
.sc03 {
	transform: scaleY(0.3);
}

.sc04:hover {
	transform: scaleY(2);
}

#sec02:hover>.sc05 {
	transform: scale(0.2,0.2);
}

.sc06 {
	overflow: hidden;
}
.sc06>img {
	opacity: 0.5;
	transform:scale(2,2);
}

.sc06:hover>img {
	opacity: 1;
	transform:scale(1,1);
	transition: 1s;
}

/* 3. transform: rotate(); 회전 변형 */
#sec03>div, #sec04>div {
	border: 1px solid #4a6;
	width: 300px;
	display: inline-block;
	margin: 40px;
}

#sec03:hover>.ro01 {
	transform: rotateX(80deg);
	transition: 1s;
}

#sec03:hover>.ro02 {
	transform: rotateY(90deg);
	transition: 1s;
}

.ro03 {
	transform: rotateX(180deg);
}

.ro04 {
	transform: rotateY(180deg);
}
.ro05:hover {
	transform: rotate(-540deg);
}

.ro06 {
	overflow: hidden;
}

.ro06:hover>b {
	display: inline-block;
	transform: rotateY(720deg);
	transition: 2s;
}

.ro06:hover>img {
	transform: rotate(1080deg);
	transition: 5s;
}

/* 4. transform:skew(ndeg); 기울기 변형 */
.sk01 {
	trnasform: skewX(30deg);
}

.sk02 {
	transform: skewX(-30deg);
}

.sk03 {
	transform: skewY(30deg);
}

.sk04 {
	transform: skewY(-30deg);
}

#sec04:hover>.sk05 {
	transform:skew(35deg,35deg);
	transition: 2s;
}

/* 5. transform-origin: ; 기준점 변경 */
.to01 {
	transform-origin: 0 100%;
}
.to01:hover {
	transform:scale(1,2);
	transition: 2s;
}

.to02 {
	transform-origin: right top;
}

.to02:hover {
	transform: rotate(720deg);
	transition: 2s;
}

.to03 {
	transform: -500px -200px;
}

#sec05:hover>.to03 {
	transform: rotate(720deg);
	transition: 2s;
}

